---
import type { Author } from "@/types/article";
import ArticleHeader from "../components/ArticleHeader.astro";

interface Props {
  title: string;
  createdAt: string;

  updatedAt: string;
  favorited: boolean;
  favoritesCount: number;
  author: Author;
}
const { title } = Astro.props;
---

<h1 class="article-title">{title}</h1>
<div class="article-author-container">
  <ArticleHeader {...Astro.props} />
</div>

<style>
  .article-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .article-author-container {
    display: flex;
  }
</style>
