---
import Header from "./header/Header.astro";
import "../styles/reset.css";
import "../styles/global.css";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body id="app">
    <Header />
    <div class="container">
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    background-color: #e4edf3;
  }

  .container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  @media (max-width: 768px) {
    .container {
      margin: 25px 5%;
    }
  }
</style>
